/* 날짜 & 점수 */
.date-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.score-box span {
  font-size: 2rem;
  font-weight: bold;
  color: #444;
}

.score-box p {
  font-size: 0.75rem;
  color: #666;
}
